In [1]:
qpath = r'C:/Users/rgoix/DEV/quetzal/' # path to quetzal here
data = r'inputs/'
import sys
sys.path.append(qpath + r'quetzal/')

# import class
from quetzal.io.gtfs_reader.feed_gtfsk import Feed

### Read GTFS

In [2]:
feed = Feed(path=data + r'accra_trotro', dist_units='m')
feed.describe()

          indicator                          value
0          agencies  [AMA Department of Transport]
1  running_services                            [0]
2          timezone                   Africa/Accra
3        start_date                       20190304
4          end_date                       20200131
5        num_routes                            277
6         num_trips                            554
7         num_stops                           4171
8        num_shapes                            554
9   num_frequencies                            554

### Map GTFS

In [3]:
feed.map_stops(
    feed.stops['stop_id']
)

In [4]:
feed.map_routes(
    feed.routes['route_id'].head(20)
)

In [5]:
feed.map_trips(
    feed.trips['trip_id'].head(50)
)

### Export as GIS

In [6]:
feed.write_geojson(
    'outputs/accra/' # folder name
)

routes - stops - trips: 100%|████████████████████████████████████████████████████████████| 3/3 [00:14<00:00,  5.48s/it]

### Create shapes for trips from stops, if they are missing

In [7]:
feed = Feed(path=data + r'paris_ratp_full', dist_units='m')
feed.describe()

          indicator                                              value
0          agencies                                       [RATP (100)]
1  running_services  [12712338, 2725409, 2657278, 12719266, 2725412...
2          timezone                                                CET
3        start_date                                           20181003
4          end_date                                           20190101
5        num_routes                                               1011
6         num_trips                                             447494
7         num_stops                                              25590
8        num_shapes                                                  0
9   num_frequencies                                                  0

In [8]:
feed.shapes # returns nothing

In [9]:
feed.check_inconsistencies()

,type,message,table,rows
5,error,Undefined from_stop_id,transfers,"[9609, 9610, 9611, 9612, 9613, 9614, 9615, 961..."
6,error,Undefined to_stop_id,transfers,"[707, 709, 991, 1340, 2315, 2317, 3982, 3984, ..."
0,warning,Feed expired,calendar/calendar_dates,[]
1,warning,"Repeated pair (route_short_name, route_long_name)",routes,"[18, 20, 26, 28, 34, 100, 119, 142, 158, 159, ..."
2,warning,Route has no trips,routes,"[51, 140, 142, 174, 425, 426, 620, 621, 622, 6..."
4,warning,"Repeated pair (trip_id, departure_time)",stop_times,"[15, 19, 20, 23, 36, 45, 72, 80, 96, 118, 157,..."
3,warning,Stop has no stop times,stops,"[67, 155, 159, 160, 242, 288, 297, 353, 369, 4..."
7,warning,Trip has no stop times,trips,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14..."

In [10]:
feed = feed.clean() # Best to clean the feed before applying complexe methods

In [11]:
feed = feed.create_shapes() # create_shapes returns a new feed

In [12]:
feed.shapes.head()  # Now we have some shapes

    shape_id  shape_pt_sequence  shape_pt_lon  shape_pt_lat
0  shape_000                  0      2.367038     48.826948
1  shape_000                  1      2.376120     48.829831
2  shape_000                  2      2.386265     48.833521
3  shape_000                  3      2.379409     48.840543
4  shape_000                  4      2.373108     48.844652

In [13]:
# New shapes are a bit straight: they are straight lines between stops
feed.map_routes(
    feed.routes['route_id'].head(20)
)